<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.skumanager">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        >
        <activity android:name=".RegistrarSalida"></activity>
        <activity android:name=".RegistrarEntrada" />
        <activity android:name=".AgregarProducto" />
        <activity
            android:name=".ConsultarUsuarios"
            android:label="@string/title_activity_consultar_usuarios"
            android:theme="@style/NoActionBar" />
        <activity android:name=".Productos" />
        <activity android:name=".Menu" />
        <activity android:name=".RegistrarActivity" />
        <activity android:name=".InventarioActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>